.pagination {
  display: flex;
  align-items: center;
  margin: 20px 0;

  &.left {
    justify-content: left;
  }
  &.right {
    justify-content: right;
  }
  &.center {
    justify-content: center;
  }
  .page {
    margin: 0 10px;
  }
}
