$box-shadow--popup: 4px 8px 20px 0 rgba(0, 0, 0, 0.07), 0 4px 16px 0 rgba(0, 0, 0, 0.12);

$dashboard-hd-popup-width: 380px;
$dashboard-hd-popup-height: 363px;

$btn-primary: #2c76f8;
$btn-primary--hover: #0b2d6b;
$btn-primary--disabled: rgba(233, 233, 233, 0.05);

$btn-secondary: #d7ddff;
$btn-secondary--hover: rgba(15, 38, 153, 0.26);
$btn-secondary--disabled: rgba(233, 233, 233, 0.05);
