@import '@src/styles/color.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 422px);
  .progressbarStyle {
    height: 6px;
    width: 800px;
    background-color: $editor-border-color;
    border-radius: 2px;
    margin: 50;
  }
  .filterStyle {
    height: 100%;
    background-color: $blue104;
    border-radius: inherit;
    text-align: right;
    transition: width 1s linear;
  }
  & > span {
    margin-bottom: 30px;
  }
}
