@import '@src/styles/color.scss';
.change-pass-container {
  .id-container {
    width: 100%;
    border: 1px solid $mono203;
    background-color: $mono201;
    border-radius: 5px;
    padding: 16px;
  }
  .pass-container {
    padding: 16px 24px;
    background-color: #fbfcff;
    margin-bottom: 96px;
  }
}
