.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 44px 22px;

  .left-side {
    .title {
      font-size: 28px;
      font-weight: bold;
    }
  }
}
