.DS_Store

__pycache__
**/*depr*

**/*.pyc
**/*.swp
**/*.npy
**/*.log
**/*.json
!info.json
**/checkpoints
**/*.db
**/*.pid

tmp*
jf-data/*
!jf-data/*.py
runs
jf-bin/launcher_bins/docker
jf-bin/launcher_bins/kubeadm
jf-bin/launcher_bins/rm_cni
jf-bin/launcher_bins/.ssh
jf-src/master/settings.ini
jf-src/master/binary_version.py
jf-src/master/JF_FLASK_APP
jf-src/master/JF_FLASK_APP.py

/.idea/jfbcore.iml
/.idea/jfbcore.iml
/.idea/jfbcore.iml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/modules.xml
/.idea/
/venv/
