@import '@src/styles/color.scss';
.project-member-manage-container {
  .desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
    .left-side {
      display: flex;
      align-items: center;
      .selected-count {
        color: $mono205;

        .count {
          color: $blue104;
          margin-right: 2px;
          margin-left: 4px;
        }
      }
    }
    .right-side {
    }
  }
  height: 100%;
  display: flex;
  flex-direction: column;

  .member-list-wrapper {
    overflow-y: auto;
    height: 100%;
  }
}
