@import '~styles/screen.scss';

.basic-btn {
  $icon-width: 48px;
  $border: 1px;

  width: 100%;
  border: solid $border #b5b8bc;
  background-color: #ffffff;
  background-repeat: no-repeat;
  // background-size: 26px 26px;
  background-position: 16px 50%;
  border-radius: 4px;
  padding-left: $icon-width;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  font-family: inherit;
  color: #697077;
  cursor: pointer;

  @media (min-width: $desktop) {
    height: 60px;
  }

  @media (min-width: $phone) and (max-width: calc(#{$desktop} - 1px)) {
    height: 52px;
  }

  &:hover {
    background-color: #f6f6f8;
  }

  &.email {
    background-image: url('/Images/00-ic-message-mail.svg');
  }
}
