.footer-container {
  margin-top: auto;
  margin-left: 48px;
  margin-right: 48px;
  padding-top: 40px;
  .footer-default {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    .left-side {
      display: flex;
      flex-direction: row;
    }
    .right-side {
      display: flex;
      flex-direction: row;
      gap: 16px;
    }
  }
}
