@import '@src/components/atoms/input/input.scss';

.item-list {
  width: 100%;
  .item {
    margin-bottom: 10px;
    &:after {
      clear: both;
      content: '';
      display: block;
    }
    .input-wrap {
      float: left;
      width: calc(100% - 56px);
    }
    .remove-btn {
      float: left;
      width: 44px;
      height: 44px;
      border: none;
      border-radius: 4px;
      padding: 4px;
      margin-left: 12px;
      background-position: 50%;
      background-image: url(@src/static/images/icon/minus.svg);
      background-size: 36px 36px;
      background-color: $mono205;
      background-repeat: no-repeat;
      cursor: pointer;
    }
  }
  .add-btn {
    margin-top: 10px;
  }
}
