@import '@src/styles/color.scss';
.dataset-container {
  display: flex;
  height: 100%;
  &.connected {
    align-items: center;
    justify-content: center;
    color: $lime603;
  }
}
.icon {
  path {
    transition: fill 0.5s ease-in-out;
  }
  &.loading {
    path {
      animation-name: loading;
      animation-timing-function: ease-in-out;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
    }
  }
}
@keyframes loading {
  0% {
    fill: #c8ccd4;
  }
  50% {
    fill: $lime603;
  }
  100% {
    fill: #c8ccd4;
  }
}
