@import 'src/style/color.scss';

$input-large: 44px;
$input-medium: 36px;
$input-small: 30px;
$input-xsmall: 26px;

$font-size-large: 16px;
$font-size-medium: 15px;
$font-size-small: 14px;
$font-size-xsmall: 13px;

.jp {
  &.date-range-picker {
    z-index: 1;
    position: relative;
    .input-box {
      display: flex;
      gap: 10px;
    }
  }
}
