.set-auto-labeling-container {
  display: flex;
  ::-webkit-scrollbar {
    width: 0px;
  }

  @media (max-width: 1439px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 12px;
  }

  flex-direction: row;
  gap: 24px;
  width: 100%;
  height: 100%;
}
