@import '@src/styles/color.scss';

.menu {
  z-index: 20;
  position: absolute;
  color: $dark-mono200;
  background-color: $dark-mono206;
  border-radius: 8px;
  box-shadow: 0 3px 9px 0 rgba(18, 22, 25, 0.08), 0 2px 4px 1px rgba(18, 22, 25, 0.14);
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
  animation: visible 0.5s;
}

@keyframes visible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
