@import 'src/styles/color.scss';

.header-container {
  width: 100%;
  background-color: $dark-mono207;
  border-radius: 8px;
  margin-bottom: 20px;
  .header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px $dark-mono204;
    .header-round {
      align-items: center;
      display: flex;
      padding: 0 32px;
    }
    .header-progress-count {
      margin-left: 10px;
    }
    .header-buttons {
      align-items: center;
      display: flex;
    }
  }
}

.body-container {
  display: flex;
  .stage-container {
    width: 390px;
    border-right: solid 1px $dark-mono204;
  }
  & > div:nth-child(2) {
    flex: 1;
  }
}
