@import '@src/styles/color.scss';

.content {
  .info-header {
    display: flex;
    justify-content: space-between;
    .back-to-list {
      margin-bottom: 12px;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: max-content;
      cursor: pointer;
      .back-btn-image {
        width: 22px;
        height: 22px;
        margin-right: 4px;
      }
      .back-btn-label {
        font-size: 16px;
        color: $mono205;
      }
    }
  }

  .info-box {
    display: flex;
    flex-direction: row;
    padding-bottom: 24px;
    box-sizing: border-box;
    margin-bottom: 36px;
    border-bottom: 1px solid $mono203;
    .left {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      border-right: 1px solid $mono203;
      .dataset-name-box {
        display: flex;
        align-items: flex-start;
        .edit-btn {
          width: 24px;
          height: 24px;
          padding: 6px;
          margin-left: 4px;
          border-radius: 4px;
          &:hover {
            cursor: pointer;
            background-color: $mono202;
          }
        }
        .dataset-name {
          margin: 0;
          font-size: 24px;
          font-family: SpoqaM;
          color: $mono207;
          line-height: 1.5;
        }
      }
      .dataset-description {
        font-size: 16px;
        font-family: SpoqaM;
        color: $mono205;
        margin: 10px 24px 15px 0;
        word-break: break-word;
        min-height: 57px;
        line-height: 19px;
        box-sizing: border-box;
      }
      .annotation {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 24px 0 0;
        .marker {
          display: flex;
          flex-direction: row;
          align-items: center;
          background-color: $blue101;
          border-radius: 4px;
          border: none;
          width: 120px;
          height: 24px;
          cursor: pointer;
          box-sizing: border-box;
          margin-right: 12px;
          .marker-logo {
            width: 94px;
            height: 14px;
          }
          .arrow {
            width: 10px;
            height: 10px;
          }
        }
        .progress {
          font-size: 14px;
          margin-left: 12px;
          &.active,
          &.running {
            color: $lime603;
          }
          &.pending {
            color: $yellow303;
          }
          &.done,
          &.stop {
            color: $mono205;
          }
        }
      }
    }
    .right {
      flex: 1;
      padding-left: 30px;
      .dataset-info {
        display: flex;
        flex-direction: column;
        .meta {
          display: flex;
          flex-direction: column;
          font-size: 16px;
          label {
            font-family: SpoqaR;
            color: $mono205;
            margin-bottom: 4px;
            height: 19px;
          }
          span {
            font-family: SpoqaM;
            color: $mono207;
            margin-bottom: 12px;
          }
          &:last-child {
            span {
              margin-bottom: 0 !important;
            }
          }
        }
      }
      .dataset-check-box {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        .dataset-check-title {
          color: $mono205;
          font-family: SpoqaR;
          margin-bottom: 7px;
        }
        .drop-box {
          position: relative;
          width: 140px;
          .check-modal-wrap {
            width: 30vw;
            position: relative;
            background-color: blue;
          }
        }
        .dataset-box {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          z-index: 999;
          height: 100%;
          margin: 30px 30px 10px 30px;
          border-radius: 5px;
          .dataset-wrap {
            height: 80px;
            width: 550px;
          }
        }
      }
    }
  }
  .dir-loc {
    margin-top: 10px;
  }

  .type-column {
    img {
      margin-right: 4px;
      vertical-align: bottom;
    }
  }
}

.loading {
  position: relative;
  color: $mono204 !important;
  &::before {
    content: 'Loading...';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: $mono207;
    animation: load 2s linear infinite;
    overflow: hidden;
  }
  @keyframes load {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
}
