.valid-container {
  display: flex;
  align-items: center;
  color: #bebebe;
  font-family: MarkerFont;
  margin-top: 6px;
  margin-left: 2px;

  .ico {
    display: flex;
    align-items: center;
    margin-right: 4px;

    svg {
      path {
        transition: all 0.2s ease-in-out;
      }
    }
  }
  .desc {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
  }
}
