@import '@src/styles/color.scss';

.request-box {
  padding: 36px;
  background-color: $mono200;
  border-bottom: 1px solid $card-border-color;
  .label-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
    label {
      font-family: SpoqaB;
      display: inline-block;
      margin-right: 4px;
    }
  }
  .one-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
    .api-address-box {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      & > div:first-child {
        width: 110px !important;
      }
      .text-input {
        flex: 1;
        min-width: 300px;
      }
    }
  }
}
