@import '../DateRangePicker.module.scss';

@mixin calendar-cell($height) {
  position: relative;
  display: inline-block;
  width: 36px;
  height: $height;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
}

@mixin date-picker-calendar($font-size, $padding) {
  background-color: $mono200;
  margin-top: 4px;
  margin-left: 1px;
  padding: $padding;
  border-radius: 6px;
  font-size: $font-size;
  box-shadow: 0 3px 9px 0 rgba(18, 22, 25, 0.08),
    0 2px 4px 1px rgba(18, 22, 25, 0.14);
}

@mixin button-style($margin-top) {
  margin-top: $margin-top;
}

.date-range-picker-calendar {
  display: flex;
  position: absolute;
  justify-content: space-between;
  flex-direction: column;
  z-index: 2;
  &.large {
    @include date-picker-calendar($font-size-large, 24px 34px);
  }
  &.medium {
    @include date-picker-calendar($font-size-medium, 18px 26px);
  }
  &.small {
    @include date-picker-calendar($font-size-small, 15px 22px);
  }
  &.x-small {
    @include date-picker-calendar($font-size-xsmall, 12px 18px);
  }
  .calendar-area {
    display: flex;
  }
  .btn {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    & > button {
      margin-right: 6px;
    }
    &.large {
      margin-top: 20px;
    }
    &.medium {
      margin-top: 16px;
    }
    &.small {
      margin-top: 14px;
    }
    &.x-small {
      margin-top: 12px;
    }
  }
}
