@import 'src/styles/common';

.logo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  user-select: none;
  gap: 8px;

  width: fit-content;
  height: fit-content;

  &:hover {
    @include Cursor(pointer);
  }
}

.logo-image {
  display: flex;
  flex-flow: row nowrap;
  width: fit-content;
  height: 24px;
}
