@import '@src/components/Modal/modal.scss';

.radio-wrap {
  margin-bottom: 20px;
}

.upload-option-box {
  margin-top: 24px;
}

.input-group-title {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-family: SpoqaM !important;
}
