@import '../ClientTraining/ClientTraining.module.scss';
.aggregation {
  max-height: calc(100vh - 262px);

  .double-card {
    display: grid;
    column-gap: 32px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
    & > div {
      height: 380px;
      padding: 32px;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      @include card();
      .title {
        @include title();
      }
    }

    .runtime-info {
      display: flex;
      flex-direction: column;
      .title {
        @include title();
        padding: 9px 8px;
        box-sizing: border-box;
        border-bottom: solid 2px $dark-mono204;
      }
      .row {
        display: flex;
        flex-direction: row;
        font-size: 13px;
        padding: 10px 8px;
        border-bottom: solid 1px $dark-mono204;
        line-height: 22px;
        .text-key {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          color: $dark-mono201 !important;
          max-width: 160px;
          margin-right: 8px;
        }
        .text-contents {
          flex: 1;
          align-items: center;
          margin-left: 8px;
          &.parameters {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
          }
        }
      }
    }
    .model-ratio-by-client {
      .title {
        @include title();
        display: inline-block;
        padding-bottom: 8px;
      }
      .no-data-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          margin-top: 48px;
          width: 176px;
        }
        span {
          margin-top: 16px;
          font-size: 13px;
          color: $dark-mono201;
        }
      }
    }
  }

  .custom-log {
    width: 100%;
    box-sizing: border-box;
    padding: 32px;
    @include card();

    .title {
      @include title();
      display: inline-block;
      padding-bottom: 8px;
    }

    .log-area {
      width: 100%;
      height: 400px;
      background-color: $dark-mono208;
      overflow: auto;
      padding: 16px;
      font-size: 13px;
      line-height: 2;
      box-sizing: border-box;
      border-radius: 4px;
      span {
        display: block;
        white-space: pre-wrap;
      }
      .no-data-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 180px;
      }
    }
  }

  .hps-chart {
    width: 100%;
    box-sizing: border-box;
    padding: 32px;
    @include card();

    .title-box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .title {
        @include title();
      }

      .tab-area {
        display: flex;
        flex-direction: row;
        align-items: center;
        .chart-view-tab {
          display: flex;
          align-items: center;
          font-size: 13px;
          color: $dark-mono201;
          padding: 8px;
          cursor: pointer;
          &.active {
            color: $dark-blue100;
          }
          &:hover {
            color: $dark-mono200;
            img {
              filter: grayscale(1) brightness(2);
            }
          }
          img {
            width: 20px;
            margin-right: 8px;
          }
          label {
            cursor: pointer;
          }
        }
      }
    }

    .chart-area {
      background-color: $dark-mono206;
      width: 100%;
      margin-top: 8px;
      box-sizing: border-box;
      border-radius: 4px;
      overflow: hidden;

      .control-area {
        color: $dark-mono200;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-end;
        padding: 8px 32px 0px;
        .switch-box {
          display: flex;
          flex-direction: row;
          align-items: center;
          label {
            white-space: nowrap;
            margin-right: 8px;
            font-size: 13px;
            font-family: SpoqaR;
            color: $dark-mono201;
          }
        }
        .sort-box {
          width: 360px;
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-left: 24px;
          grid-gap: 12px;
          label {
            white-space: nowrap;
            font-size: 13px;
            font-family: SpoqaR;
            color: $dark-mono201;
          }
        }
      }
    }

    > .no-data-box {
      background-color: $dark-mono206;
      width: 100%;
      margin-top: 8px;
      box-sizing: border-box;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 400px;
      img {
        margin-top: 106px;
        width: 176px;
      }
      span {
        margin-top: 16px;
        font-size: 13px;
        color: $dark-mono201;
      }
    }

    .hps-created {
      margin-top: 40px;
      .title {
        @include title();
      }
      .table-area {
        overflow-x: scroll;
        margin-top: 8px;
        .table-box {
          min-width: 100%;
          display: inline-block;
          border-bottom: 2px solid $dark-mono204;
          .table-title-wrap {
            padding: 9px 8px;
            display: flex;
            justify-content: space-between;
            font-size: 12px;
            .table-column {
              flex: 1;
              &.table-count {
                justify-content: flex-start;
                min-width: 160px;
              }
              &.table-variable {
                min-width: 160px;
                display: flex;
                justify-content: flex-start;
              }
              &.table-accuracy {
                display: flex;
                justify-content: flex-start;
                min-width: 160px;
              }
              &.table-seelog {
                justify-content: flex-end;
                min-width: 160px;
              }
            }
          }
        }
        .table-value-box {
          .table-row-box {
            min-width: 100%;
            display: inline-block;
            border-bottom: 2px solid $dark-mono204;
            .table-value-wrap {
              display: flex;
              font-size: 14px;
              padding: 10px 8px;
              .table-value {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex: 1;
                &.table-count {
                  justify-content: flex-start;
                  min-width: 160px;
                }
                &.table-variable {
                  min-width: 160px;
                  display: flex;
                  justify-content: flex-start;
                }
                &.table-accuracy {
                  display: flex;
                  justify-content: flex-start;
                  min-width: 160px;
                }
                &.table-seelog {
                  display: flex;
                  justify-content: flex-end;
                  align-items: center;
                  min-width: 160px;
                }
              }
            }
            .table-log-wrap {
              white-space: pre-wrap;
              background-color: $dark-mono208;
              padding: 16px;
              margin-bottom: 16px;
              font-size: 13px;
              height: 400px;
              overflow-y: auto;
              overflow-x: auto;
              border-radius: 4px;
            }
          }
        }

        .no-data-box {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 200px;
          span {
            margin-top: 16px;
            font-size: 13px;
            color: $dark-mono201;
          }
        }
      }
    }
  }
}
